.vscode/launch.json
.vscode/settings.json
.devcontainer/devcontainer.json
.easy-linux_reset.sh
support/misc/my_installed_apps.list
support/my_installed_apps.list
support/misc/need-to-upload.list
support/misc/allcaps.list
support/misc/allpcaps.list
support/misc/allhcx.list
support/misc/backup-list.list
support/misc/need-to-upload.list
update_report.log
