[Desktop Entry]
Name=Beesoc's Easy Linux Loader
Comment=Bash menu system to easily launch apps and services
Exec=gnome-terminal -e "/bin/bash /opt/easy-linux/menu-master.sh"
Icon=terminal
Terminal=true
Type=Application

